/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dashboard {
    width: 100%;
    height: 100vh;
    background-color: #b8c1ec;
    position: relative;
}

.left-menu {
    background: #f4f4f4;
    position: relative;
    width: 4.5rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: all .4s ease;
}

.left-menu:hover {
    width: 13rem;
}

.left-menu ul li a {
    display: flex;
}

/* .logo {
    width: 80px;
    position: relative;
    top: 1rem;
    left: 0.5rem;
    display: flex;
    margin: 10px 0 0 0px;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 100%;
    z-index: 100;
    position: absolute;

}

.logo span {
    font-weight: bold;
    padding: 10px;
    font-size: 18px;
    text-transform: uppercase;
}

.logo a {
    position: relative;
    left: 180px;
    color: #121629;
    font-size: 18px;
    display: table;
    text-align: left;
    width: 300px;
    text-decoration: none;
    padding: 10px;
    font-family: 'Poppins', 'sans-serif';
} */

.left-menu ul {
    margin-top: 2rem;
    margin-left: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

ul li {
    font-family: 'Poppins', sans-serif;
    list-style: none;
    margin-bottom: 1rem;
    align-items: center;
    transition: all .3s linear;
}

ul li a {
    padding: 0.5rem;
    color: #121629;
    text-decoration: none;
}

ul li a i {
    text-decoration: none;
    color: #121629;
    font-size: 1.4rem;
    cursor: pointer;
    transition: all .3s linear;
    margin-right: 1.2rem;
}

.sidebar-item i {
    width: 20px;
    height: 20px;
    text-align: center;
}

#settings {
    position: absolute;
    bottom: 1rem;
}

.left-menu ul li:hover {
    transform: translateX(.4rem);
    transition: all .4s linear;
}

.left-menu ul li:hover .fa-solid,
.left-menu ul li:hover a {
    font-weight: bold;
    color: #b8c1ec;
}






.right-content {
    width: 85%;
    height: auto;
    background-color: #EFEFEF;
    overflow: hidden;
}

.dash-nav-bar {
    width: auto;
    padding: 16px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.dash-nav-icon {
    display: inline;
}

.dash-account {
    display: inline-flex;
    gap: 8px;
}

.dash-main {
    width: auto;
    margin: 16px;
    padding: 32px;
    border-radius: 16px;
    background-color: white;
}

.leading-btn {
    text-align: end;
}

.dash-main table {
    width: 100%;
    border: 2px solid #ABABAB;
    border-collapse: collapse;
}

.dash-main table thead {
    background-color: #EFEFEF;
}

.dash-main table th, td {
    padding: 8px;
    border: 1px solid #ABABAB;
}

.action {
    text-align: center;
}

.add-btn {
    background-color: #22BB33;
    padding: 8px;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    color: white;
}

.edit-btn {
    background-color: #F0AD4E;
    padding: 8px;
    border: none;
    border-radius: 4px;
}

.delete-btn {
    background-color: #BB2124;
    padding: 8px;
    border: none;
    border-radius: 4px;
}
.history-btn {
    background-color: #5BC0DE;
    padding: 8px;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    color: white;
}

.add-btn:hover {
    filter: brightness(90%);
}

.edit-btn:hover {
    filter: brightness(90%);
}

.delete-btn:hover {
    filter: brightness(90%);
}

.history-btn:hover {
    filter: brightness(90%);
}


.add-data {
    height: 100vh;
    background-color: #EFCD00;
    display: flex;
    justify-content: center;
    align-items: center;
}
s
.add-form-container {
    background-color: white;
    padding: 64px;
    border-radius: 32px;
}

.add-form-container h1 {
    text-align: center;
}

.add-form-container hr {
    border: 2px solid #FFDD00;
    margin-bottom: 24px;
}

.add-form-container form {
    display: flex;
    flex-direction: column;
}

@media (max-width: 640px) {
    nav {
        padding:  16px;
        display: flex;
        flex-direction: column;
    }

    .top-nav {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .logo img {
        height: 50px;
    }

    .nav-items {
        display: none
    }

    .portal-btn {
        display: none;
    }



    #burgerbar {
        display: block;
        width: 36px;
        background-color: white;
        border: none;
        cursor: pointer;
    }

    #show {
        display: block;
    }

    #close {
        display: none;
    }

    #nav-items {
        display: none;
        flex-direction: column;
    }

    #nav-items a{
        text-align: center;
    }

    #portal-btn{
        display: none;
        width: 100%;
    }

    #portal-btn button{
        width: 100%;
    }

    #portal-btn button:hover{
        scale: 100%;
    }



    .hero-title {
        margin-inline: 48px;
    }

    .hero-title h1 {
        font-size: 36px;
    }

    .hero-title hr {
        margin: auto;
        width: 240px;
    }

    .hero-title p {
        font-size: 20px;
    }



    .news {
        height: auto;
        margin-block: 64px;
    }

    .news-title {
        flex-basis: 10%;
    }

    .news-container {
        flex-basis: 80%;
        display: flex;
        flex-direction: column;
        margin-inline: 32px;
    }

    .news-btn-container {
        flex-basis: 5%;
    }

    .news-btn-container button {
        margin: 32px;
    }

    footer p {
        padding-inline: 64px;
    }
} */













