<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <link rel="stylesheet" href="posttest5.css">
    <link href="https://fonts.cdnfonts.com/css/harry-potter" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Caudex:wght@400;700&family=Poppins:wght@300;400;800&display=swap" rel="stylesheet">
    <title>posttest5</title>
</head>

<body>
    
    <nav>
        <div class="hero">
            <img src="../assets/logo.png" alt="logo">
        </div>
        <ul>
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">Gallery</a>
            </li>
            <li>
                <a href="./dashboard.php">Shop</a>
            </li>
            <li>
                <a href="#">About me</a>
            </li>
        </ul>
        <img src="../assets/moon.icon.jpeg" id="icon">
    </nav>

    <section class="hogwarts">
        <img src="../assets/gambar2.jpg" alt="gambar 2">
        <div class="hogwarts-title">
            <h1>Welcome To Diagon Alley Newspaper</h1>
            <p>-The Daily Prophet-</p>
        </div>
    </section>

    <main>
        <div class="container">
            <div class="book">
                <div class="imgBook">
                    <img src="../assets/Buku1.jpg" alt="#">
                </div>
                <div class="sinopsis">
                    <h2>Harry Potter and the Philosopher's Stone</h2>
                    <p>"Seumur hidup, Harry Potter tidak pernah berurusan dengan sihir. 
                        Dia tinggal bersama keluarga Dursley yang kejam dan Dudley, putra mereka yang menyebalkan. 
                        Kamar Harry cuma lemari sempit di kolong tangga, dan selama sebelas tahun, ulang tahunnya tak pernah dirayakan.
                        Namun, tiba-tiba datang burung hantu membawa surat misterius: surat berisi undangan ke tempat menakjubkan bernama Sekolah Sihir Hogwarts. 
                        Dan di sana bukan hanya ada banyak teman, pertandingan olahraga naik sapu terbang, dan sihir dalam segala hal—dari pelajaran sampai makanan— 
                        tapi juga ada takdir luar biasa yang sudah lama menantinya... Jika Harry mampu bertahan hidup."</p>
                </div>
            </div>

            <div class="book">
                <div class="imgBook">
                    <img src="../assets/Buku2.jpg" alt="#">
                </div>
                <div class="sinopsis">
                    <h2>Harry Potter and the Chamber of Secrets</h2>
                    <p>"Banyak yang dialami Harry Potter pada libur musim panasnya kali ini, 
                        di antaranya: ulang tahun paling payah, aneka peringatan menyeramkan dari peri-rumah bernama Dobby, 
                        dan kabur naik mobil terbang dari rumah keluarga Dursley bersama sahabatnya, Ron Weasley!
                        Sekembalinya di Sekolah Sihir Hogwarts, Harry mendengar berbagai bisikan aneh menggema di koridor-koridor kosong 
                        lalu serangan-serangan pun mulai. Para murid ditemukan dalam keadaan membatu... Peringatan mengerikan Dobby seolah jadi kenyataan."</p>
                </div>
            </div>

            <div class="book">
                <div class="imgBook">
                    <img src="../assets/Buku3.jpg" alt="#">
                </div>
                <div class="sinopsis">
                    <h2>Harry Potter and the Prisoner of Azkaban</h2>
                    <p>Ketika Bus Ksatria membelah kegelapan malam dan berhenti mendadak di hadapan Harry Potter, 
                        maka dimulailah tahun ajaran berikutnya di Hogwarts yang jauh dari biasa-biasa saja. 
                        Sirius Black, pembunuh massal dan pengikut Lord Voldemort, kabur dari penjara Azkaban dan konon dia memburu Harry. 
                        Pada pelajaran Ramalan pertama, Profesor Trelawney melihat terawangan kematian dalam ampas teh anak itu... 
                        Namun, tak ada yang lebih menakutkan daripada para Dementor, sosok-sosok pengisap jiwa, yang gentayangan di sekeliling sekolah.</p>
                </div>
            </div>
            
            <div class="book">
                <div class="imgBook">
                    <img src="../assets/Buku4.jpg" alt="#">
                </div>
                <div class="sinopsis">
                    <h2>Harry Potter and the Goblet of Fire</h2>
                    <p>Hogwarts akan menjadi tuan rumah Turnamen Triwizard. Hanya para penyihir berusia tujuh belas tahun 
                        ke atas yang boleh ikut—namun Harry tetap berkhayal menjadi juara dalam kompetisi itu. 
                        Lalu pada Halloween, ketika Piala Api melakukan seleksi, Harry kaget saat dirinya terpilih. 
                        Dia harus melaksanakan tugas-tugas yang menantang maut, menghadapi naga-naga dan para penyihir Hitam. 
                        Tetapi, dengan bantuan para sahabat baiknya, Ron dan Hermione, dia mungkin akan berhasil—dan bertahan hidup!</p>
                </div>
            </div>

            <div class="book">
                <div class="imgBook">
                    <img src="../assets/Buku5.jpg" alt="#">
                </div>
                <div class="sinopsis">
                    <h2>Harry Potter and the Order of the Phoenix</h2>
                    <p>Masa kegelapan menyelubungi Hogwarts. Setelah Dementor menyerang sepupunya, Dudley, Harry Potter tahu Voldemort 
                        akan melakukan segala cara untuk menemukannya. Banyak yang tidak percaya bahwa sang Pangeran Kegelapan telah kembali, 
                        tapi Harry tidak sendirian: di Grimmauld Place berkumpul orde rahasia untuk melawan kekuatan gelap. 
                        Harry harus mengizinkan Profesor Snape mengajarinya cara melindungi diri dari rentetan serangan brutal Voldemort dari benaknya. 
                        Namun, serangan-serangan itu makin ganas dan Harry kehabisan waktu...</p>
                </div>
            </div>

            <div class="book">
                <div class="imgBook">
                    <img src="../assets/Buku6.jpg" alt="#">
                </div>
                <div class="sinopsis">
                    <h2>Harry Potter and the Half-Blood Prince</h2>
                    <p>Ketika pada suatu malam musim panas Dumbledore tiba di Privet Drive untuk menjemput Harry Potter, 
                        tangannya yang memegang tongkat sihir tampak menghitam dan mengerut, namun dia tidak menceritakan penyebabnya. 
                        Rahasia dan kecurigaan menyebar di dunia sihir, dan Hogwarts sendiri tidak aman. 
                        Harry yakin Malfoy memiliki Tanda Kegelapan: ada Pelahap Maut di antara mereka. 
                        Harry akan membutuhkan sihir kuat dan teman-teman sejati saat dia menyelidiki rahasia-rahasia terkelam Voldemort, 
                        dan Dumbledore mempersiapkannya untuk menghadapi takdir...</p>
                </div>
            </div>

            <div class="book">
                <div class="imgBook">
                    <img src="../assets/Buku7.jpg" alt="#">
                </div>
                <div class="sinopsis">
                    <h2>Harry Potter and the Deathly Hallows</h2>
                    <p>Ketika naik ke motor Hagrid dan melesat ke langit, meninggalkan Privet Drive untuk terakhir kali, 
                        Harry Potter tahu bahwa Lord Voldemort dan para Pelahap Maut tak jauh di belakangnya. 
                        Mantra pelindung yang selama ini menjaga Harry sekarang buyar, tapi dia tidak bisa terus bersembunyi.
                        Sang Pangeran Kegelapan menghantui semua yang disayangi Harry dan untuk menghentikannya, Harry harus menghancurkan semua Horcrux yang tersisa. 
                        Pertempuran terakhir akan dimulai---Harry harus maju dan menghadapi musuhnya.</p>
                </div>
            </div>
    </main>



    <footer>
        <div class="footer-content">
            <div class="footer-left">
                <h3>About Me</h3>
                <p>Wildanah Sirad</p>
                <p>2209106062</p>
                <p>Informatika B22</p>
                <p>wildanahsiradsimen@gmail.com</p>
            </div>
            <div class="footer-right">
                <p>&copy; The Daily Prophets</p>
            </div>
        </div>
    </footer>


<script src="../scripts/posttest5.js"></script>

</body>
</html>

